.container {
  max-width: 1440px;
  background: #F2F2F2;
  border-radius: 10px;
  padding: 40px;
  margin: 40px auto;
}

.formContainer {
  background-color: #DF421E;
  padding: 20px 32px 35px 32px;
  border-radius: 4px;
  margin-bottom: 40px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.3fr;
  gap: 20px;
  align-items: end;
}

.label {
  color: #fff;
}

.error {
  color: #EA0029;
}

.label,
.error {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: block;
  margin-bottom: 6px;
}

.field {
  width: 100%;
  border: none;
  border-radius: 4px;
  background: #FFF;
  border: 1px solid #D2D2D2;
  padding: 8px;
  font-size: 16px;
  color: #666;
}

.field:focus {
  outline: none;
  border: 1px solid #464646;
}

.submitBtn {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #666;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.submitBtn:hover {
  cursor: pointer;
  background-color: #F2F2F2;
}

.searchIcon {
  width: 16px;
  height: 16px;
  margin-top: -2px;
}

.tableContainer {
  display: block;
}

.tableHeadTop {
  background-color: #fff;
  padding: 20px 24px;
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid #E4E7EC;
  border-bottom: none;
}

.tableHeadTop>p {
  color: #666;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.tableHeadTop>span {
  display: inline-block;
  color: #DF421E;
  background-color: #FCECE9;
  border-radius: 16px;
  padding: 2px 8px;
}

.table {
  background: #FFF;
  border: 1px solid #E4E7EC;
  border-radius: 4px;
  width: 100%;
}

.tableHeadItem {
  padding: 12px 24px;
  text-align: start;
  color: #151901;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.tableBodyItem {
  padding: 16px 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #666;
}

.tableBodyItem>a {
  color: #DF421E;
  text-decoration: underline;
  cursor: pointer;
}

.tableBodyDealer {
  display: flex;
  align-items: center;
  gap: 6px;
}

.dealerTitle {
  color: #151901;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px;
}

.dealerMapUrl {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #DF421E;
  text-decoration: none;
  cursor: pointer;
}

.mobileTableContainer {
  display: none;
}

.noData {
  color: #464646;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: start;
  margin-top: 24px;
}

.dealerImage {
  width: 48px !important;
  height: 48px !important;
}

.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 18px 0 18px;
}

.paginationBtn {
  padding: 8px 14px;
  background-color: #fff;
  border: 1px solid #D0D5DD;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-weight: 500;
  font-size: 14px;
}

.arrow {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 16px;
    background: #fff;
  }

  .form {
    grid-template-columns: 1fr;
  }

  .formContainer {
    padding: 20px;
  }

  .table {
    display: none;
  }

  .mobileTableContainer {
    display: block;
  }

  .mobileTable {
    background: #FFF;
    border: 1px solid #E4E7EC;
    border-radius: 4px;
    width: 100%;
  }

  .mobileTableRow {
    display: flex;
    align-items: start;
    gap: 12px;
    padding: 12px 20px;
  }

  .tableHeadItem {
    padding: 12px 20px;
  }

  .dealerTitle {
    margin-bottom: 2px;
  }

  .dealerImage {
    width: 72px !important;
    height: 72px !important;
  }
}